<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SimpleCORSFilter</filter-name>
        <filter-class>Servlets.SimpleCORSFilter</filter-class> <!-- your package name and filter class -->
    </filter>
    <filter-mapping>
        <filter-name>SimpleCORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChangePassword</servlet-name>
        <servlet-class>Servlets.ServletChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletsSearchEmail</servlet-name>
        <servlet-class>Servlets.ServletsSearchEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPost</servlet-name>
        <servlet-class>Servlets.ServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPost</servlet-name>
        <servlet-class>Servlets.LoadPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>Servlets.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseConexao</servlet-name>
        <servlet-class>Servlets.CloseConexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeletsChangePost</servlet-name>
        <servlet-class>Servlets.ServeletsChangePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteEmail</servlet-name>
        <servlet-class>Servlets.ServletDeleteEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChangePassword</servlet-name>
        <url-pattern>/ServletChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletsSearchEmail</servlet-name>
        <url-pattern>/ServletsSearchEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPost</servlet-name>
        <url-pattern>/ServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPost</servlet-name>
        <url-pattern>/LoadPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseConexao</servlet-name>
        <url-pattern>/CloseConexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeletsChangePost</servlet-name>
        <url-pattern>/ServeletsChangePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteEmail</servlet-name>
        <url-pattern>/ServletDeleteEmail</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
