body{
    height:0 ;
}
.container{
    width: 100%;
    height: min-content;
}
footer{
    background-color: blue;
    position: relative;
    bottom: 0 ;
}
main{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form strong{
    color: black;
}
form input{
    width: 100%;
}
form textarea{
    width: 100%;
    height: 10vh;  
}
form button{
    width: 100%;
    height: 15%; 
    font-weight: bold; 
    font-size: 18px;
}

